# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
share/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Scripts/
.idea

# temp file
pdm.lock
.pdm-python
pyvenv.cfg
db.sqlite*
test.py
bot.py
.chat
.vscode
log/